In [2]:
import numpy as np
import scipy.stats 
#from scipy import signal
from scipy import io as sio
from matplotlib import pyplot as plt
import pywt
from collections import Counter
from ordpy import tsallis_entropy,renyi_entropy

In [3]:
### Data extraction
dataset1=np.load('standing_dataset1.npz')
data1=dataset1['data']; labels1=dataset1['labels']

In [4]:
dataset3=np.load('standing_dataset3.npz')
data3=dataset3['data']; labels3=dataset3['labels']

In [5]:
dataset5=np.load('standing_dataset5.npz')
data5=dataset5['data']; labels5=dataset5['labels']

In [6]:
dataset9=np.load('standing_dataset09.npz')
data9=dataset9['data']; labels9=dataset9['labels']

In [7]:
dat9=data9/255 ; dat5=data5/255 ; dat1=data1/255 ; dat3=data3/255

In [8]:
#dwt transform

In [9]:
#Statistic property

In [10]:
#dataset 1

In [11]:
import pandas as pd

In [17]:
def statistic_prop(signals,waveletname,lev,n):
    feature_mean=[]; feature_variance=[];feature_std=[];feature_max=[];feature_min=[];feature_median=[];feature_quartile=[];feature_third_quartile=[]; feature_energ=[];feature_rms=[]
    for i in range(40):
        for j in range(200):
            coeff=pywt.wavedec(signals[i][j],waveletname,level=lev)
            feature_mean.append(np.mean(coeff[0]))
            feature_variance.append(np.var(coeff[0]))
            feature_std.append(np.std(coeff[0]))
            feature_min.append(np.min(coeff[0]))
            feature_max.append(np.max(coeff[0]))
            feature_rms.append(np.mean(np.sqrt(coeff[0]**2 + coeff[1]**2)))
            feature_median.append(np.percentile(coeff[0], 50))
            feature_quartile.append(np.percentile(coeff[0], 25))
            feature_third_quartile.append(np.percentile(coeff[0], 75))
            feature_energ.append(sum(coeff[0]**2 + coeff[1]**2))
    labels=[]
    for j in range(8000):
        labels.append(n)
    return pd.DataFrame(np.column_stack([feature_mean,feature_variance,feature_rms, feature_std, feature_min, feature_max,feature_median,feature_quartile, feature_third_quartile, feature_energ, labels]), 
                               columns=['Mean','Variance','RMS','Std', 'MIN','MAX','Median', 'Quartile','Third_quartile', 'Energy','number of people'])

In [18]:
#Base on entropy

In [19]:
def entrop_f(signals,waveletname,lev,n):
    feature1_shannon=[]; feature1_renyi=[] ; feature1_tsallis=[]
    for i in range(200):
        for j in range(40):
            coeff=pywt.wavedec(signals[j][i],waveletname,level=lev)
            feature1_shannon.append(shan_entrop(coeff[0]))
            feature1_renyi.append(renyi_entrop(coeff[0],3))
            feature1_tsallis.append(tsallis_entrop(coeff[0],3))
    labels=[]
    for j in range(8000):
        labels.append(n)
    return pd.DataFrame(np.column_stack([feature1_shannon, feature1_renyi, feature1_tsallis,labels]), 
                               columns=['Shannon', 'Renyi', 'tsallis','number of people'])

In [20]:
def entrop_feat(signals,waveletname,lev,n):
    feature_shannon=[]; feature_renyi=[] ; feature_tsallis=[]
    for i in range(40):
        for j in range(200):
            coeff=pywt.wavedec(signals[i][j],waveletname,level=lev)
            feature_shannon.append(renyi_entropy(coeff[0],alpha=1))
            feature_renyi.append(renyi_entropy(coeff[0],alpha=3))
            feature_tsallis.append(tsallis_entropy(coeff[0],q=3))
    labels=[]
    for j in range(8000):
        labels.append(n)
    return pd.DataFrame(np.column_stack([feature_shannon, feature_renyi, feature_tsallis,labels]), 
                               columns=['Shannon', 'Renyi', 'tsallis','number of people'])

In [21]:
df_features_stat1=statistic_prop(dat1,'db4',1,1)

In [22]:
df_features_stat1

,Mean,Variance,RMS,Std,MIN,MAX,Median,Quartile,Third_quartile,Energy,number of people
0,0.300550,0.000064,0.300563,0.007998,0.233532,0.367605,0.299205,0.297662,0.303013,58.128315,1.0
1,0.300403,0.000063,0.300416,0.007907,0.231974,0.366514,0.299171,0.297568,0.302925,58.070407,1.0
2,0.300170,0.000062,0.300183,0.007874,0.230950,0.365509,0.298984,0.297366,0.302563,57.980147,1.0
3,0.300121,0.000062,0.300135,0.007851,0.231086,0.365576,0.299024,0.297450,0.302688,57.961247,1.0
4,0.300076,0.000061,0.300089,0.007823,0.231145,0.365131,0.298995,0.297450,0.302295,57.943308,1.0
...,...,...,...,...,...,...,...,...,...,...,...
7995,0.298929,0.000056,0.298942,0.007510,0.238954,0.365905,0.298054,0.296475,0.301180,57.498432,1.0
7996,0.298936,0.000056,0.298948,0.007494,0.239249,0.365753,0.298095,0.296509,0.301316,57.500951,1.0
7997,0.298925,0.000056,0.298938,0.007501,0.238898,0.365629,0.298031,0.296528,0.301291,57.496845,1.0
7998,0.298953,0.000056,0.298966,0.007491,0.239211,0.365580,0.298106,0.296542,0.301288,57.507545,1.0
7999,0.298928,0.000056,0.298940,0.007506,0.239199,0.365779,0.298090,0.296492,0.301404,57.497876,1.0

In [23]:
df_features_stat3=statistic_prop(dat3,'db4',1,3)

In [24]:
df_features_stat3

,Mean,Variance,RMS,Std,MIN,MAX,Median,Quartile,Third_quartile,Energy,number of people
0,0.300961,0.000065,0.300975,0.008092,0.237688,0.365703,0.300005,0.298353,0.303931,58.288524,3.0
1,0.300766,0.000065,0.300780,0.008057,0.236371,0.364606,0.299912,0.298182,0.303543,58.212683,3.0
2,0.300581,0.000064,0.300595,0.008028,0.235401,0.364030,0.299752,0.298068,0.303487,58.140835,3.0
3,0.300485,0.000064,0.300498,0.008010,0.234832,0.363713,0.299749,0.297958,0.303226,58.103308,3.0
4,0.300414,0.000064,0.300428,0.007973,0.234958,0.364098,0.299693,0.297889,0.303183,58.075905,3.0
...,...,...,...,...,...,...,...,...,...,...,...
7995,0.299092,0.000051,0.299104,0.007144,0.238052,0.364016,0.298467,0.296825,0.301179,57.557542,3.0
7996,0.299159,0.000051,0.299171,0.007146,0.237858,0.364053,0.298489,0.296976,0.301226,57.583266,3.0
7997,0.299167,0.000051,0.299179,0.007142,0.237738,0.364113,0.298546,0.296897,0.301455,57.586173,3.0
7998,0.299152,0.000051,0.299164,0.007167,0.237788,0.364120,0.298516,0.296952,0.301298,57.580689,3.0
7999,0.299146,0.000051,0.299158,0.007176,0.237986,0.363572,0.298597,0.297071,0.301347,57.578667,3.0

In [25]:
df_features_stat5=statistic_prop(dat5,'db4',1,5)
df_features_stat5

,Mean,Variance,RMS,Std,MIN,MAX,Median,Quartile,Third_quartile,Energy,number of people
0,0.299645,0.000051,0.299654,0.007137,0.252012,0.370895,0.298760,0.296667,0.302160,57.769607,5.0
1,0.299398,0.000050,0.299407,0.007096,0.250770,0.369880,0.298555,0.296501,0.301749,57.673954,5.0
2,0.299259,0.000050,0.299269,0.007061,0.250440,0.369651,0.298454,0.296418,0.301612,57.620455,5.0
3,0.299216,0.000050,0.299226,0.007046,0.250021,0.369238,0.298525,0.296396,0.301648,57.603678,5.0
4,0.299182,0.000050,0.299192,0.007066,0.249852,0.369208,0.298433,0.296359,0.301464,57.590901,5.0
...,...,...,...,...,...,...,...,...,...,...,...
7995,0.297650,0.000252,0.297685,0.015868,0.184595,0.414089,0.297065,0.295570,0.299697,57.143292,5.0
7996,0.297564,0.000255,0.297600,0.015963,0.184380,0.414158,0.296975,0.295555,0.299583,57.112584,5.0
7997,0.297589,0.000250,0.297624,0.015812,0.184778,0.413769,0.297051,0.295482,0.299380,57.118855,5.0
7998,0.297577,0.000242,0.297611,0.015559,0.185212,0.413381,0.296861,0.295415,0.299639,57.108802,5.0
7999,0.297496,0.000233,0.297528,0.015263,0.184400,0.414275,0.296946,0.295257,0.299472,57.071539,5.0

In [26]:
df_features_stat9=statistic_prop(dat9,'db4',1,9)

In [28]:
df_features_stat9

,Mean,Variance,RMS,Std,MIN,MAX,Median,Quartile,Third_quartile,Energy,number of people
0,0.300284,0.000063,0.300300,0.007968,0.236988,0.373664,0.298692,0.297041,0.303272,58.026469,9.0
1,0.300047,0.000062,0.300056,0.007887,0.245692,0.372464,0.298675,0.297010,0.303087,57.931883,9.0
2,0.299862,0.000060,0.299871,0.007741,0.245491,0.373198,0.298409,0.296764,0.302837,57.859035,9.0
3,0.299751,0.000060,0.299760,0.007735,0.245510,0.373639,0.298396,0.296718,0.302625,57.816162,9.0
4,0.299689,0.000059,0.299698,0.007665,0.245854,0.373091,0.298286,0.296726,0.302532,57.791420,9.0
...,...,...,...,...,...,...,...,...,...,...,...
7995,0.298491,0.000073,0.298504,0.008569,0.235730,0.376643,0.297752,0.296135,0.300818,57.341241,9.0
7996,0.298482,0.000069,0.298493,0.008335,0.239072,0.372480,0.297784,0.296035,0.300785,57.334785,9.0
7997,0.298414,0.000066,0.298425,0.008113,0.241138,0.368629,0.297606,0.295907,0.300662,57.306078,9.0
7998,0.298397,0.000063,0.298407,0.007911,0.242970,0.364938,0.297610,0.295902,0.300689,57.297245,9.0
7999,0.298426,0.000060,0.298435,0.007761,0.244798,0.362325,0.297656,0.295959,0.300557,57.306566,9.0

In [29]:
df_features_stat9=statistic_prop(dat9,'haar',2,9)

In [180]:
df_features_stat9

,Mean,Variance,Std,MIN,MAX,Median,Quartile,Third_quartile,Energy,number of people
0,0.424598,0.000049,0.006983,0.406933,0.478796,0.421902,0.419994,0.428657,57.723213,9.0
1,0.424288,0.000046,0.006794,0.387211,0.465794,0.421978,0.420064,0.428112,57.636796,9.0
2,0.424027,0.000045,0.006731,0.386824,0.466107,0.421635,0.419855,0.427805,57.564705,9.0
3,0.423870,0.000045,0.006685,0.386529,0.466375,0.421606,0.419775,0.427585,57.521881,9.0
4,0.423782,0.000044,0.006631,0.386554,0.466090,0.421530,0.419709,0.427385,57.497622,9.0
...,...,...,...,...,...,...,...,...,...,...
7995,0.422086,0.000045,0.006689,0.377960,0.480547,0.420855,0.419136,0.424777,57.045072,9.0
7996,0.422078,0.000044,0.006651,0.377472,0.477632,0.420880,0.419068,0.424728,57.041401,9.0
7997,0.421984,0.000044,0.006623,0.376710,0.475488,0.420761,0.418841,0.424563,57.014378,9.0
7998,0.421961,0.000044,0.006613,0.376097,0.473153,0.420745,0.418801,0.424644,57.006769,9.0
7999,0.422004,0.000043,0.006564,0.376500,0.471396,0.420737,0.418821,0.424831,57.017280,9.0

In [181]:
features_stats=pd.concat((df_features_stat1,df_features_stat3,df_features_stat5,df_features_stat9))

In [182]:
features_stats_in=pd.concat((df_features_stat1,df_features_stat3,df_features_stat5,df_features_stat9),ignore_index=True)

In [183]:
features_stats_in

,Mean,Variance,Std,MIN,MAX,Median,Quartile,Third_quartile,Energy,number of people
0,0.300550,0.000064,0.007998,0.233532,0.367605,0.299205,0.297662,0.303013,58.128315,1.0
1,0.300403,0.000063,0.007907,0.231974,0.366514,0.299171,0.297568,0.302925,58.070407,1.0
2,0.300170,0.000062,0.007874,0.230950,0.365509,0.298984,0.297366,0.302563,57.980147,1.0
3,0.300121,0.000062,0.007851,0.231086,0.365576,0.299024,0.297450,0.302688,57.961247,1.0
4,0.300076,0.000061,0.007823,0.231145,0.365131,0.298995,0.297450,0.302295,57.943308,1.0
...,...,...,...,...,...,...,...,...,...,...
31995,0.422086,0.000045,0.006689,0.377960,0.480547,0.420855,0.419136,0.424777,57.045072,9.0
31996,0.422078,0.000044,0.006651,0.377472,0.477632,0.420880,0.419068,0.424728,57.041401,9.0
31997,0.421984,0.000044,0.006623,0.376710,0.475488,0.420761,0.418841,0.424563,57.014378,9.0
31998,0.421961,0.000044,0.006613,0.376097,0.473153,0.420745,0.418801,0.424644,57.006769,9.0
31999,0.422004,0.000043,0.006564,0.376500,0.471396,0.420737,0.418821,0.424831,57.017280,9.0

In [78]:
#non scalar data

In [165]:
featuresentrop1=entrop_feat(dat1,'db4',1,1)
featuresentrop1

       Shannon     Renyi   tsallis  number of people
0     0.999433  0.998310  0.999826               1.0
1     0.999454  0.998345  0.999830               1.0
2     0.999567  0.998690  0.999866               1.0
3     0.999371  0.998107  0.999805               1.0
4     0.998618  0.995888  0.999576               1.0
...        ...       ...       ...               ...
7995  0.998936  0.996831  0.999674               1.0
7996  0.999817  0.999452  0.999944               1.0
7997  0.996557  0.989881  0.998945               1.0
7998  0.999579  0.998752  0.999872               1.0
7999  0.999118  0.997357  0.999728               1.0

[8000 rows x 4 columns]

In [166]:
featuresentrop3=entrop_feat(dat3,'db4',1,3)
featuresentrop3

       Shannon     Renyi   tsallis  number of people
0     0.995421  0.986570  0.998591               3.0
1     0.999597  0.998794  0.999876               3.0
2     0.999479  0.998467  0.999843               3.0
3     0.999630  0.998890  0.999886               3.0
4     0.999793  0.999378  0.999936               3.0
...        ...       ...       ...               ...
7995  0.999761  0.999279  0.999926               3.0
7996  0.999195  0.997610  0.999754               3.0
7997  0.998171  0.994560  0.999438               3.0
7998  0.996738  0.990401  0.999000               3.0
7999  0.999511  0.998515  0.999848               3.0

[8000 rows x 4 columns]

In [167]:
featuresentrop5=entrop_feat(dat5,'db4',1,5)
featuresentrop5

       Shannon     Renyi   tsallis  number of people
0     0.998802  0.996452  0.999634               5.0
1     0.998794  0.996430  0.999632               5.0
2     0.998874  0.996626  0.999652               5.0
3     0.998949  0.996838  0.999674               5.0
4     0.999633  0.998931  0.999890               5.0
...        ...       ...       ...               ...
7995  0.999503  0.998540  0.999850               5.0
7996  0.999266  0.997787  0.999772               5.0
7997  0.999630  0.998890  0.999886               5.0
7998  0.997808  0.993269  0.999302               5.0
7999  0.998977  0.996902  0.999681               5.0

[8000 rows x 4 columns]

In [168]:
featuresentrop9=entrop_feat(dat9,'db4',1,9)
featuresentrop9

       Shannon     Renyi   tsallis  number of people
0     0.997339  0.992163  0.999186               9.0
1     0.995946  0.988250  0.998771               9.0
2     0.997711  0.993366  0.999313               9.0
3     0.996866  0.990788  0.999041               9.0
4     0.997169  0.991614  0.999128               9.0
...        ...       ...       ...               ...
7995  0.999475  0.998429  0.999839               9.0
7996  0.999562  0.998703  0.999867               9.0
7997  0.999760  0.999283  0.999927               9.0
7998  0.999809  0.999428  0.999941               9.0
7999  0.998450  0.995416  0.999527               9.0

[8000 rows x 4 columns]

In [169]:
features_nons_in=pd.concat((featuresentrop1,featuresentrop3,featuresentrop5,featuresentrop9),ignore_index=True)

In [170]:
features_nons_in

        Shannon     Renyi   tsallis  number of people
0      0.999433  0.998310  0.999826               1.0
1      0.999454  0.998345  0.999830               1.0
2      0.999567  0.998690  0.999866               1.0
3      0.999371  0.998107  0.999805               1.0
4      0.998618  0.995888  0.999576               1.0
...         ...       ...       ...               ...
31995  0.999475  0.998429  0.999839               9.0
31996  0.999562  0.998703  0.999867               9.0
31997  0.999760  0.999283  0.999927               9.0
31998  0.999809  0.999428  0.999941               9.0
31999  0.998450  0.995416  0.999527               9.0

[32000 rows x 4 columns]

In [31]:
def st_prop(signals,waveletname,lev,n):
    feature_mean=[]; feature_variance=[];feature_std=[];feature_max=[];feature_min=[];feature_median=[];feature_quartile=[];feature_third_quartile=[]; feature_energ=[]; feature_shannon=[]; feature_renyi=[] ; feature_tsallis=[];feature_rms=[]
    for i in range(40):
        for j in range(200):
            coeff=pywt.wavedec(signals[i][j],waveletname,level=lev)
            feature_mean.append(np.mean(coeff[0]))
            feature_variance.append(np.var(coeff[0]))
            feature_std.append(np.std(coeff[0]))
            feature_min.append(np.min(coeff[0]))
            feature_max.append(np.max(coeff[0]))
            feature_rms.append(np.mean(np.sqrt(coeff[0]**2 + coeff[1]**2)))
            feature_median.append(np.percentile(coeff[0], 50))
            feature_quartile.append(np.percentile(coeff[0], 25))
            feature_third_quartile.append(np.percentile(coeff[0], 75))
            feature_energ.append(sum(coeff[0]**2 + coeff[1]**2))
            feature_shannon.append(renyi_entropy(coeff[0],alpha=1))
            feature_renyi.append(renyi_entropy(coeff[0],alpha=3))
            feature_tsallis.append(tsallis_entropy(coeff[0],q=3))
           
    labels=[]
    for j in range(8000):
        labels.append(n)
    return pd.DataFrame(np.column_stack([feature_mean,feature_variance,feature_rms, feature_std, feature_min, feature_max,feature_median,feature_quartile, feature_third_quartile, feature_energ,feature_shannon, feature_renyi, feature_tsallis, labels]), 
                               columns=['Mean','Variance','RMS','Std', 'MIN','MAX','Median', 'Quartile','Third_quartile', 'Energy','Shannon', 'Renyi', 'tsallis','number of people'])

In [57]:
def st1_prop(signals,waveletname,lev,n):
    feature_mean=[]; feature_variance=[];feature_max=[];feature_min=[];feature_median=[];feature_quartile=[];feature_third_quartile=[]; feature_energ=[]; feature_shannon=[]; feature_renyi=[] ; feature_tsallis=[];feature_rms=[]
    for i in range(40):
        for j in range(200):
            coeff=pywt.wavedec(signals[i][j],waveletname,level=lev)
            feature_mean.append(np.mean(coeff[0]))
            feature_variance.append(np.var(coeff[0]))
            #feature_std.append(np.std(coeff[0]))
            feature_min.append(np.min(coeff[0]))
            feature_max.append(np.max(coeff[0]))
            #feature_rms.append(np.mean(np.sqrt(coeff[0]**2 + coeff[1]**2)))
            feature_median.append(np.percentile(coeff[0], 50))
            feature_quartile.append(np.percentile(coeff[0], 25))
            feature_third_quartile.append(np.percentile(coeff[0], 75))
            feature_energ.append(sum(coeff[0]**2 + coeff[1]**2))
            feature_shannon.append(renyi_entropy(coeff[0],alpha=1))
            feature_renyi.append(renyi_entropy(coeff[0],alpha=3))
            feature_tsallis.append(tsallis_entropy(coeff[0],q=3))
           
    labels=[]
    for j in range(8000):
        labels.append(n)
    return pd.DataFrame(np.column_stack([feature_mean,feature_variance, feature_min, feature_max,feature_median,feature_quartile, feature_third_quartile, feature_energ,feature_shannon, feature_renyi, feature_tsallis, labels]), 
                               columns=['Mean','Variance', 'MIN','MAX','Median', 'Quartile','Third_quartile', 'Energy','Shannon', 'Renyi', 'tsallis','number of people'])

In [58]:
Total_feat1=st1_prop(dat1,"db4",1,1)

In [59]:
Total_feat3=st1_prop(dat3,"db4",1,3)

In [60]:
Total_feat5=st1_prop(dat5,"db4",1,5)

In [61]:
Total_feat9=st1_prop(dat9,"db4",1,9)

In [62]:
Total_feat=pd.concat((Total_feat1,Total_feat3,Total_feat5,Total_feat9),ignore_index=True)

In [51]:
Tot_feat=pd.concat((Total_feat3,Total_feat5),ignore_index=True)

In [63]:
Total_feat

,Mean,Variance,MIN,MAX,Median,Quartile,Third_quartile,Energy,Shannon,Renyi,tsallis,number of people
0,0.300550,0.000064,0.233532,0.367605,0.299205,0.297662,0.303013,58.128315,0.999433,0.998310,0.999826,1.0
1,0.300403,0.000063,0.231974,0.366514,0.299171,0.297568,0.302925,58.070407,0.999454,0.998345,0.999830,1.0
2,0.300170,0.000062,0.230950,0.365509,0.298984,0.297366,0.302563,57.980147,0.999567,0.998690,0.999866,1.0
3,0.300121,0.000062,0.231086,0.365576,0.299024,0.297450,0.302688,57.961247,0.999371,0.998107,0.999805,1.0
4,0.300076,0.000061,0.231145,0.365131,0.298995,0.297450,0.302295,57.943308,0.998618,0.995888,0.999576,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
31995,0.298491,0.000073,0.235730,0.376643,0.297752,0.296135,0.300818,57.341241,0.999475,0.998429,0.999839,9.0
31996,0.298482,0.000069,0.239072,0.372480,0.297784,0.296035,0.300785,57.334785,0.999562,0.998703,0.999867,9.0
31997,0.298414,0.000066,0.241138,0.368629,0.297606,0.295907,0.300662,57.306078,0.999760,0.999283,0.999927,9.0
31998,0.298397,0.000063,0.242970,0.364938,0.297610,0.295902,0.300689,57.297245,0.999809,0.999428,0.999941,9.0
31999,0.298426,0.000060,0.244798,0.362325,0.297656,0.295959,0.300557,57.306566,0.998450,0.995416,0.999527,9.0

In [64]:
import os

In [65]:
os.makedirs('folder/subfolder', exist_ok=True)  
Total_feat.to_csv('folder/subfol/daub4-12.csv')

In [79]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import roc_curve, auc
from sklearn import metrics
from sklearn import model_selection
from sklearn import svm

In [81]:
df.head()

,Unnamed: 0,Mean,Variance,Std,MIN,MAX,Median,Quartile,Third_quartile,Energy,Shannon,Renyi,tsallis,number of people
0,0,0.300550,0.000064,0.007998,0.233532,0.367605,0.299205,0.297662,0.303013,58.128315,0.999433,0.998310,0.999826,1.0
1,1,0.299924,0.000059,0.007654,0.242087,0.368628,0.298648,0.296943,0.302610,57.882829,0.999633,0.998931,0.999890,1.0
2,2,0.298770,0.000247,0.015719,0.170960,0.413012,0.298099,0.296032,0.301193,57.568782,0.998762,0.996378,0.999627,1.0
3,3,0.298679,0.000227,0.015064,0.188513,0.415280,0.298102,0.296015,0.301060,57.519885,0.996776,0.990368,0.998997,1.0
4,4,0.298717,0.000228,0.015102,0.188394,0.415445,0.298167,0.296137,0.301122,57.535297,0.995553,0.987201,0.998659,1.0

In [82]:
X = df.iloc[:,1:13] #separe the dataset to the response variable 
X

,Mean,Variance,Std,MIN,MAX,Median,Quartile,Third_quartile,Energy,Shannon,Renyi,tsallis
0,0.300550,0.000064,0.007998,0.233532,0.367605,0.299205,0.297662,0.303013,58.128315,0.999433,0.998310,0.999826
1,0.299924,0.000059,0.007654,0.242087,0.368628,0.298648,0.296943,0.302610,57.882829,0.999633,0.998931,0.999890
2,0.298770,0.000247,0.015719,0.170960,0.413012,0.298099,0.296032,0.301193,57.568782,0.998762,0.996378,0.999627
3,0.298679,0.000227,0.015064,0.188513,0.415280,0.298102,0.296015,0.301060,57.519885,0.996776,0.990368,0.998997
4,0.298717,0.000228,0.015102,0.188394,0.415445,0.298167,0.296137,0.301122,57.535297,0.995553,0.987201,0.998659
...,...,...,...,...,...,...,...,...,...,...,...,...
31995,0.298641,0.000081,0.008988,0.228319,0.374761,0.297762,0.296154,0.301343,57.403946,0.999323,0.997957,0.999790
31996,0.298872,0.000101,0.010070,0.233272,0.395731,0.297929,0.296306,0.301211,57.509542,0.999104,0.997301,0.999722
31997,0.298574,0.000068,0.008228,0.242657,0.381020,0.297844,0.296182,0.300801,57.368786,0.997398,0.991983,0.999167
31998,0.299034,0.000094,0.009704,0.243821,0.388208,0.298271,0.295993,0.301887,57.565853,0.999299,0.997933,0.999788
31999,0.298426,0.000060,0.007761,0.244798,0.362325,0.297656,0.295959,0.300557,57.306566,0.998450,0.995416,0.999527

In [83]:
Y = df.iloc[:,-1].values
Y # response variable or variable contains the responds variables

array([1., 1., 1., ..., 9., 9., 9.])

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=25)

In [85]:
from sklearn.ensemble import AdaBoostClassifier

In [86]:
abc = AdaBoostClassifier(n_estimators=150,learning_rate=1)
# Train Adaboost Classifer
model = abc.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = model.predict(X_test)

In [87]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.92

In [89]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         1.0       1.00      1.00      1.00         9
         3.0       0.71      1.00      0.83         5
         5.0       0.00      0.00      0.00         2
         9.0       1.00      1.00      1.00         9

    accuracy                           0.92        25
   macro avg       0.68      0.75      0.71        25
weighted avg       0.86      0.92      0.89        25

In [90]:
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from matplotlib import pyplot as plt
import seaborn as sns

In [91]:
model = LogisticRegression()

In [92]:
model.fit(X_train, y_train)

LogisticRegression()

In [93]:
train_acc = model.score(X_train, y_train)
print("The Accuracy for Training Set is {}".format(train_acc*100))

The Accuracy for Training Set is 61.426114151681

In [95]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         1.0       1.00      1.00      1.00         9
         3.0       0.71      1.00      0.83         5
         5.0       0.00      0.00      0.00         2
         9.0       1.00      1.00      1.00         9

    accuracy                           0.92        25
   macro avg       0.68      0.75      0.71        25
weighted avg       0.86      0.92      0.89        25

In [97]:
df2=pd.read_csv("folder/subfolder/ftotaldb4.csv")

In [98]:
df2.head()

,Unnamed: 0,Mean,Variance,Std,MIN,MAX,Median,Quartile,Third_quartile,Energy,Shannon,Renyi,tsallis,number of people
0,0,0.300550,0.000064,0.007998,0.233532,0.367605,0.299205,0.297662,0.303013,58.128315,0.999433,0.998310,0.999826,1.0
1,1,0.299924,0.000059,0.007654,0.242087,0.368628,0.298648,0.296943,0.302610,57.882829,0.999633,0.998931,0.999890,1.0
2,2,0.298770,0.000247,0.015719,0.170960,0.413012,0.298099,0.296032,0.301193,57.568782,0.998762,0.996378,0.999627,1.0
3,3,0.298679,0.000227,0.015064,0.188513,0.415280,0.298102,0.296015,0.301060,57.519885,0.996776,0.990368,0.998997,1.0
4,4,0.298717,0.000228,0.015102,0.188394,0.415445,0.298167,0.296137,0.301122,57.535297,0.995553,0.987201,0.998659,1.0

In [99]:
X1 = df2.iloc[:,1:13] #separe the dataset to the response variable 
X1

,Mean,Variance,Std,MIN,MAX,Median,Quartile,Third_quartile,Energy,Shannon,Renyi,tsallis
0,0.300550,0.000064,0.007998,0.233532,0.367605,0.299205,0.297662,0.303013,58.128315,0.999433,0.998310,0.999826
1,0.299924,0.000059,0.007654,0.242087,0.368628,0.298648,0.296943,0.302610,57.882829,0.999633,0.998931,0.999890
2,0.298770,0.000247,0.015719,0.170960,0.413012,0.298099,0.296032,0.301193,57.568782,0.998762,0.996378,0.999627
3,0.298679,0.000227,0.015064,0.188513,0.415280,0.298102,0.296015,0.301060,57.519885,0.996776,0.990368,0.998997
4,0.298717,0.000228,0.015102,0.188394,0.415445,0.298167,0.296137,0.301122,57.535297,0.995553,0.987201,0.998659
...,...,...,...,...,...,...,...,...,...,...,...,...
31995,0.298641,0.000081,0.008988,0.228319,0.374761,0.297762,0.296154,0.301343,57.403946,0.999323,0.997957,0.999790
31996,0.298872,0.000101,0.010070,0.233272,0.395731,0.297929,0.296306,0.301211,57.509542,0.999104,0.997301,0.999722
31997,0.298574,0.000068,0.008228,0.242657,0.381020,0.297844,0.296182,0.300801,57.368786,0.997398,0.991983,0.999167
31998,0.299034,0.000094,0.009704,0.243821,0.388208,0.298271,0.295993,0.301887,57.565853,0.999299,0.997933,0.999788
31999,0.298426,0.000060,0.007761,0.244798,0.362325,0.297656,0.295959,0.300557,57.306566,0.998450,0.995416,0.999527

In [100]:
Y1 = df2.iloc[:,-1].values
Y1# response variable or variable contains the responds variables

array([1., 1., 1., ..., 9., 9., 9.])

In [101]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, Y1, test_size=25)

In [103]:
abc = AdaBoostClassifier(n_estimators=150,learning_rate=1)
# Train Adaboost Classifer
model1 = abc.fit(X1_train, y1_train)

#Predict the response for test dataset
y_pred1 = model1.predict(X1_test)

In [104]:
print("Accuracy:",metrics.accuracy_score(y1_test, y_pred1))

Accuracy: 0.76

In [105]:
print(classification_report(y1_test, y_pred1))

              precision    recall  f1-score   support

         1.0       0.83      1.00      0.91         5
         3.0       0.86      0.75      0.80         8
         5.0       0.50      0.67      0.57         6
         9.0       1.00      0.67      0.80         6

    accuracy                           0.76        25
   macro avg       0.80      0.77      0.77        25
weighted avg       0.80      0.76      0.77        25